@model Carro

<h2>Deletar Carro</h2>

<form asp-controller="Carro" asp-action="DeleteCarro">


    <label>Id</label>
    <input asp-for="Id"></input>


    <br>
    <button type="submit" onclick="DeleteCarro()">Deletar</button>




</form>