

<!DOCTYPE html>
<html>
    @model AtivSem03.Models.Carro
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alunos</title>
</head>
<body>
    <div style="font-family:Algerian"> 
        <h2>Menu Carros</h2>
         <button type="button">@Html.ActionLink("Adicionar","AdicionarCarro")</button>
         <br>
    <button type="button">@Html.ActionLink("Ver Carros","ReadCarros")</button>
    <br>
    <button type="button">@Html.ActionLink("Update","UpdateCarro")</button>
    <br>
    <button type="button">@Html.ActionLink("Remover","DeleteCarro")</button>
    <br>
      
    </div>
</body>
</html>