

<!DOCTYPE html>
<html>
    @model AtivSem03.Models.Aluno
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alunos</title>
</head>
<body>
    <div style="font-family:Algerian"> 
        <h2>Menu Alunos</h2>
         <button type="button">@Html.ActionLink("Adicionar","AdicionarAluno")</button>
         <br>
    <button type="button">@Html.ActionLink("Ver Alunos","ReadAlunos")</button>
    <br>
    <button type="button">@Html.ActionLink("Update","UpdateAluno")</button>
    <br>
    <button type="button">@Html.ActionLink("Remover","DeleteAluno")</button>
    <br>
      
    </div>
</body>
</html>