@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Interface Funcional! Caso necessario maior testagem realiza-la por requests a parte</a>.</p>
    <button type="button">@Html.ActionLink("Menu Alunos","IndexAlunos")</button>
    <button type="button">@Html.ActionLink("Menu Carros","IndexCarros")</button>
    <br>
    <br>
    <div><h6>Criado Por : Felipe Nepomuceno Coelho</h6></div>
</div>


